<div> 
  <nav class="navbar navbar-light bg-primary justify-content-between text-light">
    <button class="btn btn-primary" > <i class='fas fa-arrow-left'></i></button>
    <h2> GROUP</h2>
    <%= button_to destroy_user_session_path, method: :delete, class: "btn btn-primary me-2" do %>
      <i class="fa fa-user"></i> Logout
    <% end %>
  </nav>
  <div id="groups" class ="border-end border-start me-1 ms-1 pt-0" style="height: 90vh;">
    <p style="color: green"><%= notice %></p>  
    <% @groups.each do |group| %>
      <div class="card m-2">
        <div class="row">
          <div class="col-4 text-center"> 
            <img src="https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"
            alt="test" class="img-thumbnail image ps-1">
          </div>
          <div class="col-4 text-center"> 
            <h3><%= group.name %></h3>
          </div>
          <div class="col-4 text-center"> 
            <p class="pe-1">Total amount</p>
          </div>
        </div>
      </div>
    <% end %>
  
    <div class ="d-grid">
      <%= link_to "New group", new_group_path, class: 'btn btn-success' %>
    </div>
  </div>
</div>