<div> 
  <nav class="navbar navbar-light bg-primary justify-content-between text-light">
    <%= link_to( raw("<i class='fas fa-arrow-left'></i>"),groups_path, class:'btn btn-primary ' )%>

    <h2>New CATEGORY</h2>
    <%= button_to destroy_user_session_path, method: :delete, class: "btn btn-primary me-2" do %>
      <i class="fa fa-user"></i> Logout
    <% end %>
  </nav>
   <%= render "form", group: @group %>
</div>
