<div id="<%= dom_id group_expense %>">
  <p>
    <strong>User:</strong>
    <%= group_expense.user_id %>
  </p>

  <p>
    <strong>Expense:</strong>
    <%= group_expense.expense_id %>
  </p>

</div>
