.hight{
    height: 100vh;
    background-color:#f0f0f0;
}

.title { 
    margin-top: 35vh;
    display: flex;
    flex-flow: column;
}
.white-color{
 color: red;
}
.image{
    width: 150px;
    height: 150px;
}
.absolut{
    position: absolute;
    
}